html {
    font-size: 62.5%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* design colors */
:root {
    --bg-primary: #1F2937;
    --bg-secondary: #3882F6;
    --c-primary: #F9FAF8;
    --c-secondary: #E5E7EB;
}

/* design elements */


body {
    font-family: "Open Sans", sans-serif;
    height: 100dvh;
    margin: 0;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
}

header,
footer {
    padding: 1.6rem 3.2rem;
    background-color: var(--bg-primary);
    color: var(--c-primary);
}

nav {
    max-width: 100rem;
    margin: auto;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    gap: 1.6rem;
}

.logo {
    color: var(--c-primary);
    font-size: 2.4rem;
}

.links {
    display: flex;
    gap: 1.6rem;
}

.links a {
    color: var(--c-secondary);
    font-size: 1.8rem;
    text-decoration: none;
}

header .content {
    max-width: 100rem;
    margin: 6.4rem auto;
    display: flex;
    flex-wrap: wrap;
    gap: 4.8rem;
}

header .content .text {
    flex: 1 1 25rem;
    color: var(--c-secondary);
    font-size: 1.8rem;
}

header .text h1 {
    margin: 0;
    color: var(--c-primary);
    font-size: 4.8rem;
    font-weight: extra-bold;
}

button {
    padding: 0.8rem 3.2rem;
    border: none;
    border-radius: 0.8rem;
    background-color: var(--bg-secondary);
    color: var(--c-primary);
    font-weight: bold;
}

header .content img {
    flex: 1 1 25rem;
}

main {
    flex: 1;
}

section {
    padding: 1.6rem 3.2rem;
}

.info h2 {
    color: var(--bg-primary);
    font-size: 3.6rem;
    font-weight: bolder;
    text-align: center;
}

.info .cards {
    padding: 1.6rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4.8rem;
}

.info .card {
    max-width: 15rem;
    text-align: center;
}

.card img {
    border: 0.3rem solid var(--bg-secondary);
    border-radius: 1rem;
}

section.quote {
    background-color: var(--c-secondary);
    font-size: 3.6rem;
    font-style: italic;
    font-weight: lighter;
    display: flex;
    justify-content: center;
}

.quote .content {
    max-width: 75rem;
    padding: 6.4rem 6.4rem;
    flex: auto;
    display: flex;
    flex-direction: column;
    margin: 1.6rem;
}

.quote .author {
    align-self: flex-end;
    font-size: 2.8rem;
    font-style: normal;
    font-weight: bold;
}

section.sign-up {
    padding: 6.4rem 3.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up .box {
    width: 100rem;
    padding: 3.2rem;
    background-color: var(--bg-secondary);
    color: var(--c-primary);
    border: none;
    border-radius: 0.8rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 4.8rem;
}

.sign-up .box button {
    border: 0.2rem solid var(--c-primary);
    flex-shrink: 0;
}

footer {
    padding: 3.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}